<configuration>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.bank.demo.web.Controller" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>